* {
    padding: 0;
    margin: 0;
    font-family: "HanHei SC", "PingHei", "PingFang SC", "microsoft yahei", "sans-serif";
}

.main {
    width: 7.5rem;
    /*height: 13.34rem;*/
    position: relative;
    background-size: 10%;
    background-image: url(../img/img_share/bgIcon.png);
}

.bottomBar {
    position: fixed;
    bottom: 0;
    width: 7.5rem;
    height: 1.28rem;
    background: #fff;
}

.infoContainer {
    position: relative;
    left: 0.66rem;
    height: 1.28rem;
}

.userHead {
    width: 1.04rem;
    height: 1.04rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*vertical-align: middle;*/
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -0.52rem;
}

.userName {
    font-size: 0.3rem;
    line-height: 0.3rem;
    color: #494949;
    position: absolute;
    top: 50%;
    margin-top: -0.15rem;
    margin-left: 1.18rem;
    display: inline-block;
}

.btnContainer {
    position: absolute;
    right: 0.29rem;
    height: 0.7rem;
    top: 50%;
    margin-top: -0.35rem;
}

.encounterBtn {
    width: 2.54rem;
    line-height: 0.7rem;
    background: #e26584;
    font-size: 0.35rem;
    color: #fff;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    border-radius: 0.15rem;
    text-align: center;
}

.bubble1 {
    position: absolute;
    width: 3rem;
    top: -1.75rem;
    right: 1.2rem;
}

.chatContainer {
    width: 7.22rem;
    height: 6.5rem;
    margin: 0 auto;
    /*border: 1px solid #000;*/
    position: relative;
    overflow-y: scroll;
    top: 0.2rem;
}

.itemContainer {
    position: relative;
    /*min-height: 2.1rem;*/
    margin: 0.2rem 0;
}

.leftHead {
    float: left;
}

.rightHead {
    float: right;
    right: 0;
}

.rightitemContainer {
    position: relative;
    min-height: 2.1rem;
    margin: 0.2rem 0;
}

.questionContainer {
    position: relative;
    /*min-height: 2.1rem;*/
    margin: 0.2rem 0;
    clear: both;
    overflow: hidden;
}

.answerContainer {
    position: relative;
    min-height: 0.86rem;
    clear: both;
    overflow: hidden;
}

.answerItem {
    /*position: absolute;*/
    /*left: 1rem;*/
    font-size: 0.3rem;
    border: 0.01rem solid #cbcbcb;
    padding: 0.22rem 0.29rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}

.leftAnswerItem {
    float: left;
    margin-left: 0.3rem;
    max-width: 4.48rem;
    background: #fff;
}

.rightAnswerItem {
    float: right;
    margin-right: 0.3rem;
    max-width: 3.48rem;
    background: #fcc655;
}

.itemHead {
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.questionItem {
    width: 4.48rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    border: 0.01rem solid #cbcbcb;
    padding: 0.22rem 0.29rem;
    font-size: 0.3rem;
}

.leftquestion {
    float: left;
    margin-left: 0.3rem;
    background: #fff;
}

.rightquestion {
    float: right;
    margin-right: 0.3rem;
    background: #fcc655;
}

/*.rightItem {*/
/*!*float: right;*!*/
/*width: 3.48rem;*/
/*padding: 0.22rem 0.29rem;*/
/*border: 0.01rem solid #cbcbcb;*/
/*-webkit-border-radius: 0.1rem;*/
/*-moz-border-radius: 0.1rem;*/
/*border-radius: 0.1rem;*/
/*position: relative;*/
/*left: 1.1rem;*/
/*font-size: 0.3rem;*/
/*}*/

.arrowContainer {
    position: relative;
    left: 0.62rem;
    top: 0.1rem;
}

.rightArrowOut {
    border-color: transparent #cbcbcb transparent transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    width: 0;
    position: absolute;
}

.rightArrowIn {
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 0.2rem 0.2rem 0.2rem 0.2rem;
    width: 0;
    position: absolute;
    left: 0.01rem;
}

.leftarrow {
    width: 0.5rem;
    position: absolute;
    left: -0.3rem;
}

.rightquestionContainer {
    position: absolute;
    right: 1rem;
    width: 3.48rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    border: 0.01rem solid #cbcbcb;
    padding: 0.22rem 0.29rem;
    font-size: 0.3rem;
}

.questionImg {
    width: 3rem;
    height: 2.2rem;
    display: block;
}

.questionTitle {
    margin-bottom: 0.1rem;
}

.questionImg {
    margin-bottom: 0.1rem;
}

.answerImg {
    width: 3rem;
    display: block;
}

.imgAnswerTitle {
    margin-bottom: 0.1rem;
}

.bgContainer {
    width: 7.5rem;
    height: 4rem;
    position: absolute;
    bottom: 1.28rem;
}

.bgImg {
    width: 7.5rem;
    height: 4rem;
}

.role1 {
    position: absolute;
    width: 0.9rem;
    right: 1.5rem;
    top: 0.4rem;
}

.role2 {
    position: absolute;
    width: 0.9rem;
    left: 1.5rem;
    top: 0.4rem;
}

.remind {
    font-size: 0.32rem;
    color: #fe4c45;
    text-align: center;
    position: relative;
}

.qimgItem {
    width: 3rem;
    height: 2.2rem;
    display: block;
}

.resultContainer {
    width: 7.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.resultContent {
    width: 6.5rem;
    height: 9.96rem;
    position: absolute;
    left: 50%;
    margin-left: -3.25rem;
    top: 1rem;
    font-size: 0.32rem;
}

.endImg {
    width: 6.5rem;
    position: absolute;
}

.endSceneContent {
    width: 5.7rem;
    height: 4.32rem;
    margin: 0 auto;
    margin-top: 0.15rem;
    position: absolute;
    left: 0.5rem;
    top: 0.1rem;
    /*background: #e26584;*/
}

.endSceneImg {
    width: 5.5rem;
    height: 4.32rem;
    display: block;
    position: absolute;
    z-index: 9999;
}

.resultContentText {
    font-size: 0.27rem;
    width: 5.15rem;
    height: 4.5rem;
    margin: 0 auto;
    margin-top: 0.15rem;
    border-radius: 0.1rem;
    color: #525252;
    position: absolute;
    left: 0.58rem;
    top: 4.7rem;
    padding: 0.1rem;
}

.endDescContainer {
    width: 6rem;
    height: 2.15rem;
    background: #fff;
    clear: both;
    overflow: hidden;
    border-radius: 0.2rem;
    margin: 0.2rem auto;
    margin-top: 0.5rem;
}

.descImg {
    width: 2.4rem;
    float: left;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    position: relative;
}

.descBg {
    width: 2.4rem;
    display: block;
}

.endDescRight {
    width: 2.8rem;
    height: 1.8rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    float: left;
    font-size: 0.2rem;
    overflow-y: scroll;
}

.endDescImg {
    width: 2.1rem;
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;
}

.describeTopContainer {
    width: 5.4rem;
    padding: 0.3rem;
    margin: 0.2rem auto;
    background: #fff;
    border-radius: 0.2rem;
    font-size: 0.3rem;
}

.answerIconContainer {
    width: 3rem;
    height: 2.2rem;
    display: block;
}