.content {
    width: 900px;
    height: 500px;
    /*border: 1px solid #ededed;*/
    margin: 100px auto;
    margin-top: 148px;
    margin-bottom: 100px;
}

.sideBar {
    width: 200px;
    height: 500px;
    /*border-right: 1px solid #ededed;*/
    float: left;
}

.sideBar_title {
    line-height: 30px;
    border-bottom: 1px solid #ededed;
    background: #dedede;
    font-weight: bold;
    padding-left: 15px;
}

.sideBar_data {
    line-height: 30px;
    padding-left: 15px;
    cursor: pointer;
    margin: 10px 0px 10px 5px;
}

.border_background {
    background-color: #d9edf7;
    color: #31708f;
    border-right: transparent;
}

.personal_data {
    float: right;
    width: 680px;
    height: 500px;
    display: none;
    /*border-left: 1px solid #ededed;*/
}

.personal_title, .changePassword_title {
    padding-left: 15px;
    border-bottom: 1px solid #ededed;
    line-height: 30px;
    background: #dedede;
    font-weight: bold;
}

.data_container, .password_container {
    padding: 35px;
}

.data_left {
    width: 140px;
    display: inline-block;
    margin: 10px 0;
}

.recharge_button {
    text-decoration: none;
    background: #ff9800;
    border: 1px solid #dedede;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 66px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
}

.personal_changePassword {
    float: right;
    width: 680px;
    height: 500px;
    /*border-left: 1px solid #ededed;*/
    /*display: none;*/
}

.phonenum_input, .verify_code_input, .new_password_input {
    width: 200px;
    display: inline-block;
}

.pass_align {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.margin_bottom {
    margin-bottom: 20px;
}

.changePassword_verify {
    font-size: 14px;
    background-color: #ff9800;
    color: #fff;
    padding: 7px 47.5px;
}

.send_verifyCode {
    color: #fff;
    background-color: #ff9800;
    border-color: #ccc;
    padding: 7px 20px;
    font-size: 14px;
    margin-left: 10px;
}

.personal_remind_mask {
    display: none;
}

.personal_remind {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    text-align: center;
}

.personal_remind_p {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

.closeBtn {
    /*margin-left: 150px;*/
    margin-top: 50px;
}